h2 {
  font-family: helvetica;
}

ul.product-list {
  list-style-type: none;
  font-size: 30px;
}

div.nutrition-heading div {
  box-sizing: border-box;
  border-style: solid;
}

h4.nutrition {
  border-bottom: solid;
}

h3.nutrition {
  border-bottom: solid;
}

sidebar {
  position: fixed;
  right: 0;
  top: 63px;
  padding: 0 !important;
  background: white;
  height: 600px;
  width: 269px;
  overflow-y: auto;
  border-style: solid;
}

sidebar section {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

sidebar section a{
  text-align: left;
  color: black;
}


