h2 {
  font-family: helvetica;
}

ul.product-list {
  list-style-type: none;
  font-size: 30px;
}

.nutrition-heading>div {
  box-sizing: border-box;
  border-style: solid;
}

h4.nutrition {
  border-bottom: solid;
}

h3.nutrition {
  border-bottom: solid;
}

sidebar {
  position: fixed;
  right: 0;
  top: 63px;
  padding: 0 !important;
  background: white;
  height: 640px;
  width: 250px;
  overflow-y: auto;
  border-style: solid;
}

sidebar section {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

sidebar section a{
  text-align: left;
  color: black;
}

.millhouse {
  position: relative;
  background-image: url('./millhouse.jpg');
  height: 493px;
  width: 269px;
  right: 15px;
}

.user {
  padding: 30px;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  font-size: 30px;
}

#firstName {
  border-top: solid;
}

#userTitle {
  padding: 30px;
  font-size: 50px;
  border-style: dashed;
  margin-bottom: 10px;
}

.nutritionTable {
  border-style: none;
}

